/* combinator " " */
.first-div span {
    color: tan;
}
/* combinator ">" */
.second-div > span {
    color: tan;
}
/* combinator "~" */
.third-span ~ p {
    color: tan;
}
/* combinator "+" */
.fourth-span + p {
    color: tan;
}
.fifth-div + p {
    color: tan;
}
.sixth-div span {
    color: tan;
}
