html {
    font-family: sans-serif;
}

.firstForm {
    display: grid;
    margin: 0 auto;
    grid-gap: 10px;
}

.firstForm label {
    width: 200px;
    padding-right: 5%;
    text-align: right;
}

.firstForm input {
    width: 200px;
}

/* give a class for p */
.firstForm p {
    width: 300px;
    color: #999;
    font-style: italic;
}

.secondForm {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 100px 100px;
    row-gap: 5px;
}

